.login-style{
    margin: 50% auto;
}

.a-col-style{
    margin: 0 auto;
}

.a-icon-style{
    color: rgba(0, 0, 0, 0.25)
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}